<h2>Celebrities</h2>
{{#each celebrities}}
<<<<<<< HEAD
    <a href="/celebrities/{{this.id}}"><p>{{this.name}}</p></a>
=======
    <p>{{this.name}}</p>
>>>>>>> 485ad88a08870b5a9082e48802ea9dc085d5a9c4
{{/each}}